body {
  background-color: azure;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.sub-category {
  display: flex;
  background-color: rgba(0,0,0,0.1);
  position: relative;
  margin: 1rem 1rem;
  height: 33vh;
  align-items: center;
  justify-content: center;
}

.title {
  position: absolute;
  align-self: flex-start;
  padding-top: 1rem;
}

.lesson {
  position: inherit;
  flex-wrap: wrap;
  flex-direction: row;
  width: 20vw;
  height: 50%;
}

@media only screen and (max-width: 768px) {
  .lesson {
    width: 80vw;
  }
}