.MathJax_Display {
    /*
    this is done to override mathjax center align
    sorry
    */
    text-align: inherit !important; 
}

#box {
    /*width: 100%; asta-i pentru latex*/
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /*overflow: scroll;*/
    text-align: center;
    justify-content: center;
    line-height:1.8em; 
    border:solid 1px black;
}

.eq {
    text-align: center;
    font-size: 30px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="formula"]{
        overflow: scroll;
    }
    [class*="textinput"]{
        width: 90%;
    }
  }



