body {
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p{
    font-size: 20px;
}

.content{
    margin-left: 20%;
    margin-right: 20%;
}

.button-regular{
    height:40px;
    padding: 5px;   
    border-radius: 2px;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: 100;
    background-color: #000000;
    border: solid rgb(36, 36, 36) 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

.button-regular:hover{
	background: rgb(167, 167, 167);
    border: solid #2E343E 1px;
    border-radius: 2px;
    text-decoration: none;
}

.textinput {
    float: left;
    width: 100%;
    min-height: 75px;
    outline: none;
    border: 1px solid grey;
}

.title-main {
    text-align: center; 
    font-size: 40px;
    margin-top: 1%;
    margin-bottom: 1%;
}

.section-divider-bar {
    margin-top: 2%;
    margin-bottom: 2%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 13.75), rgba(0, 0, 0, 0.1));
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="content"] {
      margin:0;
      margin-left: 0;
      margin-right: 0;
    }
  }

  .upload-title {
    text-align: center; 
    font-size: 40px;
    margin-top: 1%;
    
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="upload-title"] {
		text-align: center;
		font-size: 20px;
	}
	[class*="button-regular"] {
		height:27px;
		margin-right: 10px;
		font-size: 15px;
		padding: 5px;
	}
  }

.upload-content {
    resize: vertical;
    overflow: auto;
    font-size: 20px;
    width: 70%;
    height: 500px;
    margin: auto;
}

.font-buttons {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Georgia;
	font-size:15px;
	font-weight:bold;
	padding:3px 7px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.font-buttons:hover {
	background-color:#f6f6f6;
}
.font-buttons:active {
	position:relative;
	top:1px;
}

select {
    font: 200 12px/1.3 sans-serif;
    -webkit-appearance: none;
    appearance: none;
    color: white;
    border: 1px solid white;
    line-height: 1;
    outline: 0;
    padding: 0.65em 2.5em 0.55em 0.75em;
    border-radius: 0;
    background-color: black;
    background-image: linear-gradient(white, white),
      linear-gradient(-135deg, transparent 50%, rgb(50, 50, 50) 50%),
      linear-gradient(-225deg, transparent 50%, rgb(50, 50, 50) 50%),
      linear-gradient(rgb(50, 50, 50) 42%, black 42%);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: 1px 100%, 20px 22px, 20px 22px, 20px 100%;
    background-position: right 20px center, right bottom, right bottom, right bottom;   
  }
  
  select:hover {
    background-image: linear-gradient(black, black),
      linear-gradient(-135deg, transparent 50%, black 50%),
      linear-gradient(-225deg, transparent 50%, black 50%),
      linear-gradient(black 42%, rgb(50, 50, 50) 42%);
  }
  
  select:active {
    background-image: linear-gradient(black, black),
      linear-gradient(-135deg, transparent 50%, black 50%),
      linear-gradient(-225deg, transparent 50%, black 50%),
      linear-gradient(black 42%, rgb(50, 50, 50) 42%);
    color: rgb(50, 50, 50);
    border-color: black;
    background-color: black;
  }