.search-container{
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
}

#searchbar{
    font-size: 20px;
    width: 50%;
}

.search-divider-bar{
    margin-left: 20%;
    margin-right: 20%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 13.75), rgba(0, 0, 0, 0.1));
}

.post{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20%;
    margin-right: 20%;
    display:flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: left;
}

.post-counters{
    display:flex;
    flex-wrap: nowrap;
    text-align: center;
    font-size: 20px;
    justify-content: space-evenly;
}

.post-counters > *:first-child {
    margin-right: 5px;
}
.post-counters > div > div{
    font-size: 10px;
}

.post-desc{
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.post-title{
    font-size: 25px;
    text-decoration:none;
}

.post-shortdesc{
    font-size: 15px;
    margin-top: 5px;
    color: gray;
    display: flex;
    flex-direction: row;
}

.MathJax_Display{ /*overrided so it works for descriptions*/
    margin: 0 !important;
    width: auto !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.post-tags{
    display: flex;
    margin-top: 5px;
    justify-content: flex-start;
    align-content: center;
    flex-grow: 0.1;
}

.post-tagwrapper{
    display: flex;
    flex-grow: 0.1;
    text-align: left;
    justify-content: flex-start
}

.buttontag{
    height:17px;
    margin-right: 8px;

    border-radius: 2px;
    color: rgb(53, 53, 53);

    font-size: 11px;
    font-weight: 100;
    background-color: #bbbbbb;
    border: solid rgb(122, 122, 122) 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.post-tagstext{
    margin-right: 5px;
    font-size: 11px;
}

.post-date{   
    margin-top: 5px;
    font-size: 12px;
    color: gray;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="post-counters"]{
        flex-wrap: wrap;
    }
    [class*="search-divider-bar"]{
        margin-left: 0;
        margin-right: 0;
    }
    [class*="post"]{
        margin-left: 1%;
        margin-right: 1%;
        flex-wrap: wrap;
    }
  }