body {
  height: 100vh;
}

.content-container {
  display: flex;
  height: calc(90% - 70px);
  margin: 5% 15%;
}

#profile-information {
  background: #efefef;
  height: 100%;
  width: 35%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

#profile-information img {
  margin: 0 auto;
  margin-bottom: 10px;
  max-width: 100%;
  width: 190px;
  max-height: 100%;
  height: 190px;
}

.modal {
  display: none;
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%; 
}

.modal-close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.profile-choose-button{
  height:27px;
  padding: 5px;
  border-radius: 2px;
  color: rgb(255, 255, 255);
  position: absolute;
  font-size: 15px;
  background-color: #000000;
  border: solid rgb(36, 36, 36) 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.profile-choose-button:hover{
  background: rgb(167, 167, 167);
  border: solid #2E343E 1px;
  border-radius: 2px;
  text-decoration: none;
}

.profile-upload-button{
  height:27px;
  padding: 5px;
  margin-top: 10%;
  border-radius: 2px;
  color: rgb(255, 255, 255);
  position: relative;
  font-size: 15px;
  background-color: #000000;
  border: solid rgb(36, 36, 36) 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.profile-upload-button:hover{
  background: rgb(167, 167, 167);
  border: solid #2E343E 1px;
  border-radius: 2px;
  text-decoration: none;
}

#profile-information .user-name {
  background-image: -webkit-linear-gradient(top,#e8e8e8 0,#f5f5f5 100%);
  text-align: center;
  border: 1px solid #e3e3e3;
}

#profile-information .user-info {
  text-align: center;
  background: white;
  border: 2px solid black;
}

#delete-user-button {
  margin-top: auto;
  text-align: center;
  background: red;
}

#delete-user-button:hover {
  background: darkred;
}

#user-posts {
  width: 100%;
  margin-left: 10px;
}

@media only screen and (max-width: 768px) {
  .content-container {
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0;
  }

  #profile-information {
    width: 100%;
  }

  .button-regular {
    margin: 0;
    height: 40px;
  }

  .modal-content {
    width: 100%;
  }
}